body {
  background-color: rgb(44, 62, 80);
  filter: brightness(0.8);
}

.badge {
  font-size: 100%;
}

.death-badge {
  background-color: transparent;
  color: black;
}

.list-group-item {
  color: black;
  font-size: 125%
}